* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.topbar {
    display: flex;
    flex-wrap: wrap;
    /* Esto permite que los elementos se ajusten en varias líneas en pantallas pequeñas */
    justify-content: space-between;
    align-items: center;
    background-color: #0d2219;
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.menu-left,
.menu-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* Permitir que los elementos se ajusten en varias líneas si es necesario */
}

.menu-button {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
}

.admin-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.notification {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(11, 143, 81, 0.705);
    border: 6px solid #052910;
    z-index: 9;
    min-width: 190px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #0b775c;
    border-bottom: 5px solid #052910;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.chat {
    position: relative;
}

.chat-button {
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin-right: 10px;
}

.chat-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 280px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(4, 71, 43);
    border: 5px solid #053505;
    z-index: 1;
}

.chat-menu.show {
    display: block;
}

.search-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #176b1b;
    border-radius: 5px;
}

.chat-links {
    max-height: 200px;
    overflow-y: auto;
}

.chat-item {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #428666;
    border-bottom: 5px solid #0e6447;
}

.chat-item:last-child {
    border-bottom: none;
}

main {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    color: #0a3526;
    font-size: 24px;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
}

.document-section,
.suggestions-section {
    width: 100%;
    margin-bottom: 20px;
}

.document-content {
    border: 5px solid #135e19;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons a {
    margin: 0 10px;
    font-size: 16px;
}

.chat-button {
    width: 94px;
    height: 94px;
    cursor: pointer;
    margin-right: 15px;
}

.chat-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(4, 71, 43);
    border: 5px solid #053505;
    z-index: 1;
}

.chat-menu.show {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.chat-links {
    padding: 10px;
}

.chat-item {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.chat-item:hover {
    background-color: #f1f1f1;
}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0e6447;

    font-size: 50px;
}

.zones-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.zone {
    text-align: center;
    background-color: rgb(201, 255, 213);
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0px 8px 12px rgb(39, 202, 18);
    flex: 1;
    margin: 0 70px;
}

.zone video {
    width: 280px;
    height: 280px;
    margin-bottom: 10px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgb(2, 43, 27);
}


.zone h2 {
    margin: 10px 0;
    font-size: 28px;
    color: #0a4917;
}

.zone h3 {
    margin: 2px 0;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}


.bt2 {
    background-image: linear-gradient(to right, #68a792, #0f5a41, #0f2b22);
    transition: .5s;
    background-size: 100%;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 20px;
    border: none;
    display: flex;
    text-decoration: none;
}

.bt5 {
    background-image: linear-gradient(to right, #68a792, #0f5a41, #0f2b22);
    transition: .5s;
    background-size: 100%;
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 20px;
    border: none;
    display: flex;
}

.bt3 {
    position: center;
    background-image: linear-gradient(to right, #0f5a41, #0f2b22);
    background-size: 100%;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 20px;
    border: none;
    margin: 10px 0;
    text-decoration: none;
    display: flex;
    text-align: center;
}


.btnsmall-btn {
    background-image: linear-gradient(to right, #68a792, #0f5a41, #0f2b22);
    transition: .5s;
    background-size: 200%;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 20px;
    border: none;
    margin: 26px 0;
    position: center;
    text-decoration: none;
}



.chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
}

.chat-container.show {
    display: flex;
}

.chat-header {
    background-color: #0b775c;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #eee;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px;
    margin-left: 10px;
    background-color: #0b775c;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
/* Video responsive dentro de la tarjeta */
.card video {
    width: 50%;
    height: 50%;
}

/* Estilos adicionales opcionales para títulos */
.title {
    font-size: 2rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

/* Botón personalizado si no estás usando Bootstrap */
.btnsmall-btn {
    padding: 10px 20px;
    background-color: #2d455a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btnsmall-btn:hover {
    background-color: #5a6268;
}
